{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@src": "./src",
        "@app": "./src/app",
        "@env": "./src/environments",
        "@tasks": "./tasks"
      }
    }]
  ]
}
