{% extends "components/layout.njk" %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Example page</h1>
    </div>

    <div class="row">
      <div class="col-md-4">
        <aside>
          {% include "components/sidebar.html" %}
        </aside>
      </div>
      <div class="col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et nisl at magna fringilla
          ullamcorper. Nunc ultricies dapibus nibh ac dapibus. Nullam dapibus augue tellus,
          efficitur pretium justo vestibulum id. Suspendisse suscipit malesuada dui vitae convallis.
          Vestibulum molestie tellus ornare libero consequat, sed congue nisi consequat. Vestibulum
          eget mauris a erat rhoncus convallis. Nunc in ex massa. Vestibulum at pellentesque felis,
          sed malesuada nisl. Nam venenatis lacus vel dapibus suscipit. Duis eget vehicula turpis.
        </p>
        <p>
          Aenean sollicitudin enim et metus ornare, sed porta nunc sagittis. Nulla at commodo est,
          nec dignissim massa. Nulla efficitur, dui a scelerisque congue, neque ipsum tincidunt est,
          et aliquam arcu mauris eu mauris. Curabitur consectetur turpis libero, sed viverra sem
          pulvinar molestie. Quisque posuere tortor at eros fringilla, vel blandit justo semper.
          Nunc gravida efficitur quam, eu lobortis nunc condimentum quis. Orci varius natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec scelerisque ipsum
          sit amet mauris tempus, eu gravida nisl fermentum. Integer varius sit amet libero sit amet
          malesuada.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
