{% extends "components/layout.njk" %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>Hello world!</h1>
      <p>
        This is welcome screen for Static Website Boilerplate 0.1.0 – project skeleton for quick
        prototyping and simple websites.
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="documentation.html" role="button">Learn more</a>
      </p>
    </div>
  </div>
{% endblock %}
