{% extends 'components/layout.njk' %}

{% block content %}
  <h1>Welcome to Website Boilerplate</h1>
  <p>
    This is the default page. You can change its content in <code>src/views/pages/index.njk</code>.
  </p>
  <ul>
    <li><a href="https://github.com/ObjectivityLtd/website-boilerplate/wiki">Documentation</a></li>
    <li><a href="https://github.com/ObjectivityLtd/website-boilerplate/issues">Issues &amp; support</a></li>
    <li><a href="https://github.com/ObjectivityLtd/website-boilerplate">GitHub repository</a></li>
  </ul>
{% endblock %}
