{%- from 'macros/fa.njk' import fa -%}
{%- from 'macros/svg.njk' import svg -%}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Website Boilerplate</title>

  {% block styles %}
    <link rel="stylesheet" href="styles/global.css">
  {% endblock %}
</head>
<body>

<main>
  {% block content %}
    {# no default content #}
  {% endblock %}
</main>

{% block scripts %}
  <script src="app/app.bundle.js"></script>
{% endblock %}

</body>
</html>
