<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Static Website Boilerplate</title>

  {% block styles %}
    <link rel="stylesheet" href="styles/global.css">
  {% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="index.html">Static Website Boilerplate</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">Home</a></li>
        <li><a href="example.html">Example page</a></li>
        <li><a href="documentation.html">Documentation</a></li>
      </ul>
    </div>
  </div>
</nav>

<main>
  {% block content %}{% endblock %}
</main>

{% block app %}
  <script src="app/app.js"></script>
{% endblock %}

</body>
</html>
